body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  min-width: 200px;
  font-size: 1rem;
}
section {
  overflow: auto;
  max-height: 350px;
}

table {
  border-collapse: separate;
  border-spacing: 0.5rem;
  overflow: auto;
  tr {
    text-align: left;
    td {
      width: 24%;
    }
  }
  tr td:first-child {
    width: 4%;
  }
}

button {
  border: none;
}

li {
  text-align: left;
}
